

body {
  border: 5px solid lightcoral;
}


.Buttons,
.Buttons:visited {
   border: 5px solid lightcoral;
    color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}

.Buttons:hover {
    background-color: #00ffd5;

}

#buttons {
    display: none;
}

#toolbar {
    display: flex;
}

h1 {
   border: 5px solid lightcoral;
    color: #77a3e0;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

#small-rant {
   border: 5px solid lightcoral;
   color: #9d400b;
   background-color: #85cbeb;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
    width: 50%;
    padding: 10px;
}


#ting {
   border: 5px solid lightcoral;
    color: #000;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 10px;
}
h2 {
   border: 5px solid lightcoral;
    color: #653781;
    background-color: #68e3d5;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#little-rant {
   border: 5px solid lightcoral;
   color: #9d400b;
   background-color: #85cbeb;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
#cool-guy {
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
  width: 20%;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
 border: 5px solid lightcoral;
  color: #000;
 
}

#skibidi {
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
  width: 20%;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
 border: 5px solid lightcoral;
    color: #000;
}
figcaption {
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
  width: 10%;
  padding: 10px;
  text-align: center;
 border: 5px solid lightcoral;
  color: #9d400b;
    background-color: #85cbeb;
  }
#huhh {
    border-radius: 8px;
  text-decoration: none;
  margin: auto;
width: 50%;
padding: 10px;
text-align: center;
border: 5px solid lightcoral;
color: #9d400b;
background-color: #85cbeb;
}

#pluh {
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
  width: 20%;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
 border: 5px solid lightcoral;
  color: #000;
}

#the-truth {
    border-radius: 8px;
  text-decoration: none;
  margin: auto;
width: 50%;
padding: 10px;
text-align: center;
border: 5px solid lightcoral;
color: #9d400b;
    background-color: #85cbeb;
}

#Slinky {
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
  width: 20%;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #9d400b;
    background-color: #85cbeb;
    border: 5px solid lightcoral;
}

body {
  color: aquamarine;
}

img {
  border-radius: 8px;
  text-decoration: none;
  margin: auto;
width: 20%;
padding: 10px;
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
border: 5px solid lightcoral;
color: #000;
}

